<h2>Bills</h2>

<div class="ui segment">
  <a href="/bills/new" class="ui green basic button">Add a Bill</a>
</div>

<table class="ui striped nine column very compact table">
  <thead>
    <tr>
      <th>Next Payment</th>
      <th>Description</th>
      <th>Merchant</th>
      <th>Frequency</th>
      <th>Starting Date</th>
      <th>Ending Date</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.next_payment.strftime('%m/%d/%Y') %></td>
        <td><%= bill.description %></td>
        <td><%= bill.merchant.name %></td>
        <td><%= bill.frequency.titleize.gsub(' ', '-') %></td>
        <td><%= bill.starting_date.strftime('%m/%d/%Y') %></td>
        <td>TO-DO</td>
        <td>
          <% if bill.credit? %>
            <span style="color:#21ba45;">$<%= to_currency(bill.amount) %></span>
          <% else %>
            <span style="color:#db2828;">$<%= to_currency(bill.amount) %></span>
          <% end %>
        </td>
        <td><%= bill.account.name %></td>

        <td>
          <div class="ui vertical animated basic button" tabindex="-1" data-url="/bills/<%= bill.id %>/mark-as-paid">
            <div class="hidden content">Paid</div>
            <div class="visible content">
              <i class="money bill alternate outline icon"></i>
            </div>
          </div>
          <div class="ui vertical animated basic button" tabindex="-1" data-url="/bills/<%= bill.id %>/edit">
            <div class="hidden content">Edit</div>
            <div class="visible content">
              <i class="align edit icon"></i>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
