<form method="post" class="ui form">
  <div class="field">
    <label for="date" style="display:block">Date</label>
    <input type="date" class="form-control" id="date" name="date" value="<%= @transaction.date %>">
  </div>
  <div class="field">
    <label for="merchant">Merchant</label>
    <input type="text" class="form-control" id="merchant" name="merchant" aria-describedby="merchant" placeholder="<%= @transaction.merchant %>">
  </div>
  <div class="field">
    <label for="amount">Amount</label>
    <input type="text" class="form-control" id="amount" name="amount" aria-label="Dollar amount (with dot and two decimal places)" placeholder="<%= to_currency(@transaction.amount) %>">
  </div>
  <div class="field">
    <div class="ui toggle checkbox">
      <input type="checkbox" id="credit" name="credit" tabindex="0" class="hidden">
      <label for="credit">Credit</label>
    </div>
  </div>
  <div class="field">
    <label>Account</label>
    <div class="ui search selection dropdown">
      <input type="hidden" name="account" id="account">
      <i class="dropdown icon"></i>
      <div class="default text">Select Account</div>
      <div class="menu">
        <% @accounts.each do |account| %>
          <div class="item" data-value="<%= account.id %>"><%= account.name %></div>
        <% end %>
      </div>
    </div>
  </div>

  <button type="submit" class="ui button">Submit</button>
  <a href="/accounts/<%= @transaction.account.url_safe_name %>/transactions" class="ui button">Cancel</a>
</form>


<script src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
  $(function() {
    if (<%= @transaction.credit? %> === true) {
      $('#credit').attr('checked', 'checked');
    }

    $('#account > option[value|=<%= @transaction.account_id %>]').attr('selected', 'selected');
  });
</script>
