<h2><%= @account.name %> - Transactions</h2>
<h3>Balance: $<%= to_currency(@account.balance) %></h3>

<div class="ui segment">
  <form method="post" class="ui form">
    <div class="five fields">
      <div class="field">
        <label>Date</label>
        <input type="date" id="date" name="date">
      </div>
      <div class="field">
        <label>Merchant</label>
        <div class="ui fluid search selection dropdown">
          <input type="hidden" id="merchant_id" name="merchant_id">
          <i class="dropdown icon"></i>
          <div class="default text">Select Merchant</div>
          <div class="menu">
            <div class="item"><a href="/merchants">Add a Merchant</a></div>
            <div class="divider"></div>
            <% @merchants.each do |merchant| %>
              <div class="item" data-value="<%= merchant.id %>"><%= merchant.name %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Amount</label>
        <input type="text" id="amount" name="amount" placeholder="0.00">
      </div>
      <div class="field">
        <label style="margin-bottom:14px;">Credit?</label>
        <div class="ui slider checkbox">
          <input type="checkbox" id="credit" name="credit" tabindex="0" class="hidden">
          <label for="credit"></label>
        </div>
      </div>
      <div class="field">
        <label>&nbsp;</label>
        <button type="submit" class="ui green basic button">Add Transaction</button>
      </div>
    </div>
  </form>
</div>

<table class="ui striped four column table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date.strftime('%m/%d/%Y') %></td>
        <td><%= transaction.merchant.name %></td>
        <td>
          <% if transaction.credit? %>
            <span style="color:#21ba45;">$<%= to_currency(transaction.amount) %></span>
          <% else %>
            <span style="color:#db2828;">$<%= to_currency(transaction.amount) %></span>
          <% end %>
        </td>
        <td>
          <div class="ui vertical animated basic button" tabindex="-1" data-url="/accounts/<%= transaction.account.url_safe_name %>/transactions/<%= transaction.id %>/edit">
            <div class="hidden content">Edit</div>
            <div class="visible content">
              <i class="align edit icon"></i>
            </div>
          </div>
          <div class="ui vertical animated basic button" tabindex="-1" data-url="/accounts/<%= transaction.account.url_safe_name %>/transactions/<%= transaction.id %>/delete">
            <div class="hidden content">Delete</div>
            <div class="visible content">
              <i class="align trash alternate outline icon"></i>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script src="/js/accounts/transactions/index.js"></script>
