<h2><%= @account.name %> - Transactions</h2>

<form method="post" class="ui form">
  <div class="five fields">
    <div class="field">
      <label>Date</label>
      <input type="date" id="date" name="date">
    </div>
    <div class="field">
      <label>Merchant Name</label>
      <input type="text" id="merchant" name="merchant" placeholder="Merchant Name">
    </div>
    <div class="field">
      <label>Amount</label>
      <input type="text" id="amount" name="amount" placeholder="0.00">
    </div>
    <div class="field">
      <label>Credit?</label>
      <div class="ui slider checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>Yes</label>
      </div>
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <button type="submit" class="ui green basic button">Submit</button>
    </div>
  </div>

</form>

<table class="ui striped table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date.strftime('%m/%d/%Y') %></td>
        <td><%= transaction.merchant %></td>
        <td>
          <% if transaction.credit? %>
            <span>$<%= to_currency(transaction.amount) %></span>
          <% else %>
            <span>$<%= to_currency(transaction.amount) %></span>
          <% end %>
        </td>
        <td>
          <div class="ui vertical animated basic button" tabindex="-1" data-link="/accounts/<%= transaction.account.url_safe_name %>/transactions/<%= transaction.id %>/edit">
            <div class="hidden content">Edit</div>
            <div class="visible content">
              <i class="align edit icon"></i>
            </div>
          </div>
          <div class="ui vertical animated basic button" tabindex="-1" data-link="/accounts/<%= transaction.account.url_safe_name %>/transactions/<%= transaction.id %>/delete">
            <div class="hidden content">Delete</div>
            <div class="visible content">
              <i class="align trash alternate outline icon"></i>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="4">
        <div>
          Balance: $<%= to_currency(@account.balance) %>
        </div>
      </th>
    </tr>
  </tfoot>
</table>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/accounts-transactions-index.js"></script>
