<div class="row">
  <div class="col">
    <h3><%= @account.name %> - Transactions</h3>
  </div>
</div>

<div class="row mb-sm-2">
  <div class="col">
    <form class="form-inline" method="post">
      <label class="sr-only" for="date">Date</label>
      <input type="date" class="form-control mr-sm-2" id="date" name="date">

      <label class="sr-only" for="merchant">Merchant</label>
      <input type="text" class="form-control mr-sm-2" id="merchant" name="merchant" placeholder="Merchant">

      <label class="sr-only" for="Amount">Amount</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="text" class="form-control mr-sm-2" id="amount" name="amount" aria-label="Dollar amount (with dot and two decimal places)" placeholder="0.00">
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="credit" name="credit">
        <label class="custom-control-label mr-sm-2" for="credit">Credit</label>
      </div>

      <button type="submit" class="btn btn-primary btn-dark">Submit</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Merchant</th>
          <th scope="col">Amount</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.date.strftime('%m/%d/%Y') %></td>
            <td><%= transaction.merchant %></td>
            <td>
              <% if transaction.credit? %>
                <span class="text-success">$<%= to_currency(transaction.amount) %></span>
              <% else %>
                <span class="text-danger">$<%= to_currency(transaction.amount) %></span>
              <% end %>
            </td>
            <td>
              <a href="transactions/<%= transaction.id %>/edit" class="btn btn-outline-dark btn-sm">Edit</a>
              <a href="transactions/<%= transaction.id %>/delete" class="btn btn-outline-dark btn-sm">Delete</a>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4" class="text-right"><h5>Balance: $<%= to_currency(@account.balance) %></h5></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>